<div class="flx jcsb">
	<ul class="simple_menu">
		<li>
			<a href="/<%-locale%>/profile/company/corporation/create">Добавить корпорацию</a>
		</li>
		<li>
			<a href="/<%-locale%>/profile/company/startup/create">Добавить стартап</a>
		</li>
	</ul>
	<ul class="profile_menu">
		<li>
			<a href="/<%-locale%>/profile/">Мой профайл</a>
		</li>
		<li>
			<a href="/<%-locale%>/profile/companies/">Мои компании</a>
		</li>
	</ul>
</div>