<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="/css/main.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>
<body>

	<%- include('components/header'); %>

	<%- include(content); %>
	
	<%- include('components/footer'); %>

	<script src="/dist/bundle.js"></script>

</body>
</html>