<ul class="admin_menu">
	<li class="submenu">
		<p><%- __("News") %></p>
		<ul>
			<li><a href="/<%- locale %>/admin/news">Управление новостями</a></li>
			<li><a href="/<%- locale %>/admin/news">Управление разделом</a></li>
		</ul>
	</li>
</ul>