<div class="profile_section requests">

	<h1><%- __("Companies") %></h1>
	
	<div class="admin_block">

		<%- include('../../menu'); %>
		
		<div>
			<h2><%- __("User_requests") %></h2>
			<%- include('_list'); %>
		</div>

	</div>

</div>