<div class="contructor_wrap">
	<div class="constructor_menu">
		<ul>
			<li>
				<button type="button" class="add_item" data-type="gallery">+ Add gallery</button>
			</li>
		</ul>
	</div>
	<div class="constructor_body">
		<% if (action === "update") newsItem.floatContent.forEach((el, index) => {
				if (el.contentType === 'gallery') { %>
					<%- include('./_gallery', {
						gallery: el.gallery,
						index
					}) %>
				<%}
			})
		%>
	</div>
</div>